    @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,700;1,300;1,600&family=Rubik+Burned&display=swap');

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Poppins', sans-serif;
    }

    .container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 1000px;
        height: 600px;
        background-color: #f5f5f5;
        box-shadow: 0 30px 50px #dbdbdb;
    }

    .container .slide .item {
        width: 200px;
        height: 300px;
        position: absolute;
        left: 10%;
        top: 50%;
        transform: translate(0, -50%);
        border-radius: 20px;
        box-shadow: 0 30px 50px #505050;
        background-position: 50% 50%;
        background-size: cover;
        display: inline-block;
        transition: 0.5s;
    }

    .slide .item:nth-child(1),
    .slide .item:nth-child(2) {
        top: 0;
        left: 0;
        transform: translate(0, 0);
        border-radius: 0;
        width: 100%;
        height: 100%;
    }

    .slide .item:nth-child(3) {
        left: 50%;
    }

    .slide .item:nth-child(4) {
        left: calc(50% + 220px);
    }

    .slide .item:nth-child(5) {
        left: calc(50% + 440px);
    }

    /* For nth-child(6) and beyond */
    .slide .item:nth-child(n+6) {
        left: calc(50% + 660px);
        opacity: 0;
    }

    .item .content {
        position: absolute;
        top: 50%;
        left: 100px;
        width: 300px;
        text-align: left;
        color: #eee;
        transform: translate(0, -50%);
        font-family: system-ui;
        display: none;
    }

    .slide .item:nth-child(2) .content {
        display: block;
    }

    .content .name {
        font-size: 40px;
        text-transform: uppercase;
        font-weight: bold;
        opacity: 0;
        animation: animate 1s ease-in-out forwards;
        
    }

    .content .des {
        margin-top: 10px;
        margin-bottom: 20px;
        opacity: 1;
        animation: animate 1s ease-in-out 0.3s forwards;
    }

    .content button {
        padding: 10px 20px;
        border: none;
        cursor: pointer;
        opacity: 0;
    }

    @keyframes animate {

        from{
            opacity: 0;
            transform: translate(0, 100px);
            filter: blur(33);
        }
        to{
            opacity: 1;
            transform: (0);
            filter: blur(0);

        }
    }
    .button{
        width: 100%;
        text-align: center;
        position: absolute;
        bottom: 20px;
    }
    .button button{
        width: 40px;
        height: 35px;
        border-radius: 8px;
        border: none;
        cursor: pointer;
        margin: 0 5px;
        border: 1px solid #000;
        transition: 0.3s;
    }
    .button button:hover{
        background: #ababab;
        color: #fff;

    }



:root {
    
    --sidebar-color: white;
    --primary-color: grey;
    --primary-color-light:#9c27800D;
    --background-image-dark: url('img/fondo-tecnologia-circuito-alta-tecnologia-digital_29971-542.avif');
    --toggle-color: blue;
    --text-color: grey;

    --tran-03: all 0.2s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.4s ease;
}

body {
    min-height: 100vh;

    background-image: url('img/pngtree-vector-background-technology-in-the-concept-of-digital-picture-image_1816262.jpg');
    transition: var(--tran-05);
}

::selection {
    background-color: var(--primary-color);
    color: #ffffff;
}

body.dark {
    --body-color:#18191a;
    --sidebar-color:#242526;
    --primary-color-light: #3a3b3c;
    --toggle-color: white;
    --text-color: #cccccc;
    background-image: var(--background-image-dark); /* Cambiar la imagen de fondo en modo oscuro */
    transition: var(--tran-05);
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background: var(--sidebar-color);
    transition: var(--tran-05);
    z-index: 100;
}
.sidebar.close{
    width: 88px;
}

.sidebar li {
    height: 50px;
    list-style: none;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.sidebar header .image,
.sidebar .icon {
    min-width: 60px;
    border-radius: 6px;
    
}
.sidebar .icon{
    min-width: 60px;
    border-radius: 6px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}
.sidebar .text,
.sidebar .icon {
    color: var(--text-color);
    transition: var(--tran-03);
}

.sidebar .text {
    font-size: 17px;
    font-weight: 500;
    white-space: nowrap;
    opacity: 1;
}
.sidebar.close .text{
    opacity: 0;
}
.sidebar header{
    position: relative;
}

.sidebar header .logo {
    display: flex;
    flex-direction: column;
}

.name {
    margin-top: 2px;
    font-size: 18px;
    font-weight: 600;
}

.profe {
    font-size: 16px;
    margin-top: -2px;
    display: block;
}
.sidebar header .image{
    display: flex;
    align-items: center;
    justify-self: center;

}

.sidebar header .image img {
    width: 40px;
    border-radius: 6px;
}

.sidebar header .toggle {
    position: absolute;
    top: 20%;
    right: 0px;
    height: 35px;
    width: 35px;
    background-color: var(--primary-color);
    color: var(--sidebar-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    cursor: pointer;
    transition: var(--tran-05);
}

body.dark .sidebar header .toggle {
    color: var(--text-color);
}

.sidebar.close .toggle {
    width: 100%;
    top: 20%;
}

.sidebar .menu {
    margin-top: 40px;
}

.sidebar li.search-box {
    border-radius: 6px;
    background-color: var(--primary-color-light);
    cursor: pointer;
    transition: var(--tran-05);
}

.sidebar li.search-box input {
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    background-color: var(--primary-color-light);
    color: var(--text-color);
    border-radius: 6px;
    font-size: 17px;
    font-weight: 500;
    transition: var(--tran-05);
}

.sidebar li  a {
    list-style: none;
    height: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 6px;
    text-decoration: none;
    transition: var(--tran-03);
}

.sidebar li a:hover {
    background-color: var(--primary-color);
}

.sidebar li a:hover .icon,
.sidebar li a:hover .text {
    color: var(--sidebar-color);
}

.sidebar .menu-bar {
    height: calc(100% - 55px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;
}

.menu-bar::-webkit-scrollbar {
    display: none;
}

.sidebar  .menu-bar .mode {
    border-radius: 6px;
    background-color: var(--primary-color-light);
    position: relative;
    transition: var(--tran-05);
}

.menu-bar .mode .sun-moon  {
    height: 50px;
    width: 60px;
}

.mode .sun-moon i {
    position: absolute;
}

.mode .sun-moon i.sun {
    opacity: 0;
}

body.dark .mode .sun-moon i.sun {
    opacity: 1;
}

body.dark .mode .sun-moon i.moon {
    opacity: 0;
}

.menu-bar .bottom-content .toggle-switch {
    position: absolute;
    right: 0;
    height: 100%;
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    cursor: pointer;
}

.toggle-switch .switch {
    position: relative;
    height: 22px;
    width: 40px;
    border-radius: 25px;
    background-color: var(--toggle-color);
    transition: var(--tran-05);
}

.switch::before {
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background-color: var(--sidebar-color);
    transition: var(--tran-04);
}

body.dark .switch::before {
    left: 20px;
}

.home {
    position: absolute;
    top: 0;
    left: 250px;
    height: 100vh;
    width: calc(100% - 250px);
   
    transition: var(--tran-05);
}


.home .text {
    font-size: 30px;
    font-weight: 500;
    color: var(--text-color);
    padding: 12px 60px;
}

.sidebar.close ~ .home {
    left: 78px;
    height: 100vh;
    width: calc(100% - 78px);
}

body.dark .home .text {
    color: var(--text-color);
}






 /* de abajo son diseño de pagina y arriba el menu*/

 .imagen_izquierda_dentro_texto
 {
     width: 200px;
     float: left;
     background-color: white;
     border-radius: 10px;
     text-align: center;
     padding: 10px;
     margin: 10px;
     
 }


.imagen_derecha_dentro_texto {
width: 30%;
height: 200px;
}

.fondo_blanco {
color: black;
background-color: hsl(0, 0%, 100%, 0.7);
padding: 30px;
border-radius: 15px;
margin: 30px;
font-family: calibri;

display: flex;
justify-content: center;
align-items: center;
flex-wrap: wrap;

}

.imagen_derecha_dentro_texto img {
width: 80%;
border-radius: 15px;
display: flex;
flex-wrap: wrap;
justify-content: space-around;



} 


.margin_p{

display: flex;
justify-content: center;



}


.izq {
width: 70%;
overflow: hidden


}

.imagen_centrada {

display: inline-block;
margin-left: auto;
margin-right: auto;
border: 15px solid black;
border-radius: 100%;

}

.muchas > img {
    border-radius: 8px;
    width: 100%;
    height: auto;
    box-shadow: inset;
    }
    .muchas{
    display: grid;
    grid-template-columns: 
    repeat(
     auto-fit,
     minmax(150px, 2fr)
    );
    gap: 30px;
    }

 
/* Media queries for responsiveness */
@media (max-width: 768px) {
    .sidebar {
        width: 10px;
    }

    .sidebar.close {
        width: 0;
    }

    .sidebar .menu-links li a .text {
        display: none;
    }

    .container {
        margin-left: 60px;
    }

    .container.close {
        margin-left: 0;
    }
}

@media (max-width: 480px) {
    .sidebar {
        width: 0;
        position: fixed;
        z-index: 1000;
    }

    .sidebar.close {
        width: 50px;
    }

    .container {
        margin-left: 0;
        padding: 10px;
    }

    .slide .item {
        height: 200px;
    }

    .item .content {
        padding: 10px;
        max-width: 100%;
    }

    .item .content .name {
        font-size: 18px;
    }

    .item .content .des {
        font-size: 14px;
    }

    .button {
        bottom: 10px;
    }
}

/* Media Queries */
@media (max-width: 768px) {
    .sidebar {
        width: 80px;
    }
    
    .home {
        margin-left: 80px;
    }
    
    .sidebar .text,
    .sidebar .profe {
        display: none;
    }
    
    .footer-content {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 480px) {
    .home .content {
        font-size: 14px;
    }
    
    .sidebar .nav-link {
        padding: 10px 10px;
    }
    
    .footer-section {
        text-align: center;
    }
}

/* Botones de navegación dentro del contenedor */
.button {
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
    z-index: 10; /* Asegúrate de que los botones estén sobre otros elementos */
}

.button button {
    width: 40px;
    height: 35px;
    border-radius: 8px;
    border: 1px solid #000;
    background-color: #fff;
    cursor: pointer;
    margin: 0 5px;
    transition: 0.3s;
    display: inline-block;
}

.button button:hover {
    background: #ababab;
    color: #fff;
}

/* Ajustes para pantallas más pequeñas */
@media (max-width: 768px) {
    .button {
        bottom: 15px;
    }

    .button button {
        width: 35px;
        height: 30px;
        margin: 0 4px;
    }
}

@media (max-width: 480px) {
    .button {
        bottom: 10px;
    }

    .button button {
        width: 30px;
        height: 25px;
        margin: 0 3px;
    }
}




/* Ajustes para pantallas más pequeñas */
@media (max-width: 768px) {
    .container {
        width: 95%;
        padding: 15px;
    }

    .slide .item {
        width: 150px; /* Reduce el tamaño en pantallas más pequeñas */
        height: 250px;
        margin-right: 15px; /* Ajusta el espacio entre los elementos */
    }
}

@media (max-width: 480px) {
    .container {
        width: 50  100%;
        padding: 100px;
    }

    .slide .item {
        width: 120px; /* Ajusta aún más el tamaño en pantallas muy pequeñas */
        height: 200px;
        margin-right: 10px;
    }
}


/* Ajustes para pantallas más pequeñas */
@media (max-width: 768px) {
    .slide .item {
        padding: 15px;
    }

    .item .content {
        left: 10px; /* Reduce el espaciado desde el borde izquierdo */
        width: calc(100% - 20px); /* Ajusta el ancho para dejar menos espacio a los lados */
    }
}

@media (max-width: 480px) {
    .slide .item {
        padding: 10px;
    }

    .item .content {
        left: 5px; /* Reduce aún más el espaciado desde el borde izquierdo */
        width: calc(100% - 10px); /* Ajusta el ancho para maximizar el espacio disponible */
    }
}
